$primary-color: rgb(112,206,243);
$primary-reverse-color: rgb(255,255,255);
$secondary-color: rgb(220,220,220);
$secondary-reverse-color: rgb(100,100,100);

// icon colors
$icon-secondary-color: rgb(190,190,190);
$icon-secondary-active-color: rgb(120,120,120);

// font colors
$font-secondary-color: rgb(100,100,100);
$font-grey-dark: rgb(106,106,106);
$font-grey-light: rgb(155,154,154);

// background colors
$background-secondary-color: rgb(235,235,235);
$background-lightergrey-color: rgb(250,250,250);
$background-lightgrey-color: rgb(240,240,240);
$background-grey-color: rgb(233,233,233);
$background-grey-light: rgb(169,165,165);

// border colors
$border-secondary-color: rgb(220,220,220);
$border-very-light: rgb(245,245,245);