.page-main
  ion-view
    ion-content.content
      

ion-tabs.tabs-background-light( tabs-style="tabs-icon-top" tabs-type="tabs-positive")
  ion-tab( title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ) 
    //- ion-nav-view( name="home" )
  ion-tab( title="friends" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" )
    //- ion-nav-view( name="home" )
  ion-tab( title="notification" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" )
    //- ion-nav-view( name="home" )
  ion-tab( title="profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" )
    //- ion-nav-view( name="home" )